.home__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Pełna wysokość widoku */
  max-width: 100vw;
  background-color: #e8e3d5;
}

.home__container {
  max-width: 1000px;
  max-height: 750px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
}

.home__container__background {
  position: relative; /* Pozycjonowanie względne dla kontenera wideo */
  width: 1000px;
  min-height: 620px;
  overflow: hidden; /* Zapobieganie wyświetlaniu się wideo poza kontenerem */
  display: flex; /* Aby można było wyśrodkować h1 */
  justify-content: center; /* Wyśrodkowanie h1 w poziomie */
  align-items: center; /* Wyśrodkowanie h1 w pionie */
}

.video {
  position: absolute; /* Absolutne pozycjonowanie wideo */
  top: 0;
  left: 0;
  width: 100%; /* Szerokość wideo równa szerokości kontenera */
  height: 100%; /* Wysokość wideo równa wysokości kontenera */
  object-fit: cover; /* Wypełnienie kontenera wideo bez utraty proporcji */
}

h1 {
  position: relative; /* Wyzsze pozycjonowanie niż wideo */
  z-index: 10; /* Upewnienie się, że tekst jest nad wideo */
  color: #fff; /* Możesz dostosować kolor tekstu */
  text-align: center;
  font-family: "Yellowtail", sans-serif;
  font-weight: 100;
  font-size: 43px;
  letter-spacing: 5px;
  margin: 0;
  color: rgb(58, 56, 56);
}

span {
  transition: 1s ease-in-out;
}
